language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
    - php: 7
    
before_script:
  - echo $TRAVIS_PHP_VERSION
  #- dpkg -l | grep 'php5\|curl' && php --version
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then mkdir -p build/logs; fi
  
script:
  - phpunit -v -c phpunit.xml.dist --coverage-clover build/logs/clover.xml
  
after_script:
  # coveralls.io
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then php vendor/bin/coveralls -v; fi
  # scrutinizer-ci
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml; fi
