language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

before_script: 
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  
script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml
  
after_script:
  - php vendor/bin/coveralls -v
